.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  display: flex
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header a {
  text-decoration: none;
  color: white;
}

.App-header a:hover {
  text-decoration: none;
  color: white;
}

.App-intro {
  font-size: large;
}